.settings
.wtpmodules
target
.project
.classpath
.factorypath
outdated-dependencies.txt
bin
*.iml
.idea
_*.sh
*.local
*.localz
es.properties
es-local.properties
es.properties.backup
*.zip
*.versionsBackup
*.log
es-local.properties
*.db
mqjms.log*
maven-eclipse.xml
.externalToolBuilders
dep.txt
/docs/asciidoc/index.html
.eslint-loader-cache
.mvn/maven.config
.mvn/jvm.config
.flattened*
*.patch
/.mvn/
/logback.xml
.temp*.txt
.env
/lsp/
.DS_Store
.tool_versions
