name: Bygg og deploy experimental

on:
    push:
        branches:
            - '**'

jobs:
    build-app:
      - name: Build
        uses: navikt/fp-gha-workflows/.github/workflows/build-app.yml@main
        with:
            runs-on: 'ubuntu-latest-8-cores' # default: ubuntu-latest
            java-version: '17' # default: 17
            use-oracle: true # default: true
            push: ${{ github.ref_name == 'master' || github.ref_name == 'main' }} # default: false
        secrets: inherit

    create-issue:
      - name: Create issue
        if: github.ref_name == 'master' || github.ref_name == 'main'
        needs: build-app
        uses: navikt/fp-gha-workflows/.github/workflows/issues.yml@main
        with:
            build-version: ${{ needs.build-app.outputs.build-version }}
        secrets: inherit

    trigger-autotest:
      - name: Trigger autotests
        if: github.ref_name == 'master' || github.ref_name == 'main'
        needs: [build-app, create-issue]
        uses: navikt/fp-gha-workflows/.github/workflows/autotest.yml@main
        with:
            build-version: ${{ needs.build-app.outputs.build-version }}
            issue-number: ${{ needs.create-issue.outputs.issue-number }}
            test-repo: 'fpsak-autotest' # default: fpsak-autotest
        secrets: inherit

