name: Oppdaterer deployment issue

on:
  repository_dispatch:
    types: [update-issue]

jobs:
  promote:
    runs-on: ubuntu-latest

    steps:
      - name: Test success
        if: github.event.client_payload.success == 'true' && github.event.client_payload.issue-number != null
        id: success
        uses: peter-evans/create-or-update-comment@v1
        with:
          token: ${{ secrets.GITHUB_ACCESS_TOKEN }}
          issue-number: ${{ github.event.client_payload.issue-number }}
          body: |
            Alle autotestene gikk grønt!
            Deployer fpsak til t4 og q1!

      - name: Trigger deploy til t4
        if: steps.success.outcome == 'success'
        uses: peter-evans/create-or-update-comment@v1
        with:
          token: ${{ secrets.GITHUB_ACCESS_TOKEN }}
          issue-number: ${{ github.event.client_payload.issue-number }}
          body: /promote dev-fss t4

      - name: Trigger deploy til q1
        if: steps.success.outcome == 'success'
        uses: peter-evans/create-or-update-comment@v1
        with:
          token: ${{ secrets.GITHUB_ACCESS_TOKEN }}
          issue-number: ${{ github.event.client_payload.issue-number }}
          body: /promote dev-fss q1

      - name: Test failure
        if: steps.success.outcome != 'success'
        uses: peter-evans/create-or-update-comment@v1
        with:
          token: ${{ secrets.GITHUB_ACCESS_TOKEN }}
          issue-number: ${{ github.event.client_payload.issue-number }}
          body: |
            Testene kjørt av fpsak-autotest feilet!

            Det er 4 kjente årsaker til at disse feiler:
            1) Det er en feil i FPOPPDRAG.
            2) Det er feil i en annen applikasjon. Autotest bruker siste versjon av alle applikasjonene utenom den som trigger testene.
            3) Det er en feil i testene som må fikses.
            4) Det er en midlertidig feil med Github Action. Ofte kan dette løses med en rekjøring av testene.

            Ønsker du å sjekke loggene eller rekjøre testene kan du gå her: [GA-verdikjedetesten-log][1]
            For å rekjøre testene finner du jobben, trykker "Utfør verdikjede-test" i venstre kollonne og derreter på "Re-run jobs" oppe i høyre hjørne.
            Ønsker du å se loggene finne du gjeldende jobben og laster ned artifakten med navnet "logs"

            På grunn av testfeil deployes IKKE fpsak til t4 eller q1!

            [1]: https://github.com/navikt/fpsak-autotest/actions?query=workflow%3A%22Kjører+Autotestene+for+verdikjeden%22
